html
body{
  background-color: #fafafa;
}

.navbar {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pesquisaPai {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background: color #000006;;
    width:400px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
   /* max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;*/
  }
  #pesquisaInput{
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    width:100%;
  }
  .nav-left{
    list-style:none;
    float:right;
    }

  .iconeTop{
    border:1px solid #c0c0c0;
      border-radius: 50%;
      margin: 3px;
  }
  .iconeTop1:hover{
    border:1px solid black;
      border-radius: 50%;
  }
  .nav-left li{
      position:relative;
      float:left;
      }
  .nav-left li a{
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
  }

  .nav-left .dropItens:hover{
    background:#333;
    color:#fff;
  }

  .nav-left li ul{
        position:absolute;
        background-color:#fff;
        display:none;
        }
  .nav-left li:hover ul, .nav-left li.over ul{
    display:block;
  }
  .nav-left li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }
    .dropDown{
      display: flex;
      align-items: flex-start;
      justify-items: left;
      align-content: left;
    }
 
  input[type="text"] {
    outline: none;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  .search-form input[type="search"] {
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    transform-style: none;
  }
  
  .search-form button[type="submit"] {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
  }
  nav ul li {
    list-style: none;
  }
  #iconePesquisa {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 10px;
    
   }
   .iconeTop:hover{
    background-color: #000000;
    border-radius: 50%;
    color: #fff;
   }

   .navbar .perfil .imgCx1{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px;
   }
   .navbar .carteira .imgCx2{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   }
   .navbar .perfil .imgCx1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
   }
   .navbar .carteira .imgCx2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .navbar .menu{
    position: absolute;
    top: calc(100% + 10px);
    right: 170px;
    width: 200px;
    min-height: 100px;
    background: #fff;
    user-select: none;
    opacity: 0;
    visibility: hidden;
  }
  .navbar .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    z-index: -1;
    transform: rotate(45deg);
  }

  .navbar .menu ul{
    display: flex;
    flex-direction: column;
    background: #fff;
    list-style: none;
  }

  .navbar .menu ul li{
    padding: 15px 20px;
    background: #fff;
    transition: .5s;
  }
  .navbar .menu ul li:hover{
    background: #f5f5f5;
  }

  .navbar .menu ul li a{
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar .menu.ativo{
    opacity: 1;
    visibility: visible;
  }


  /* Responsividade */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .nav-left {
      flex-direction: column;
    }
    .search-form {
      margin-top: 20px;
    }
    .logo {
      margin-top: 20px;
    }
  }

  